$btn-color-1: #286bf6;
$btn-color-2: #0959fa;
$text-color-1: #232323;
$text-color-2: #fff;
$bg-color-1: #fff;
$bg-color-2: #232323;
$bg-color-3: #333333;
$btn-toggle-color-1: #c7c7c7;
$btn-toggle-color-2: #7d7d7d;
$list-background-1: rgba(255, 255, 255, 0.6);
$list-background-2: rgba(255, 255, 255, 0.03);
$list-button-1: #c7c7c7;
$list-button-2: #7c7c7c;