$btn-color-1: #286bf6;
$btn-color-2: #0959fa;
$text-color-1: #232323;
$text-color-2: #fff;
$bg-color-1: #fff;
$bg-color-2: #232323;
$bg-color-3: #333333;
$btn-toggle-color-1: #c7c7c7;
$btn-toggle-color-2: #7d7d7d;
$list-background-1: rgba(255, 255, 255, 0.6);
$list-background-2: rgba(255, 255, 255, 0.03);
$list-button-1: #c7c7c7;
$list-button-2: #7c7c7c;
$background-box-shadow-1: none;
$background-box-shadow-2: inset 0 0 0 1000px rgba(0,0,0,.3);
$menu-button-1: #fff;
$menu-button-2: #505050;
$button-arrow-1: #7c7c7c;
$button-arrow-2: #7c7c7c;
$microphone-slosh-1: #505050;
$microphone-slosh-2: #7c7c7c;