.wrap {
  overflow-y: scroll;
  max-height: 240px;
  padding: 10px 0 10px 14px;
  background-color: var(--color-list-background);
  border-radius: 5px;

  &::-webkit-scrollbar {
    width: 10px;
    height:10px;
  }
  &::-webkit-scrollbar-thumb {
    background: #7d7d7d;
    border-radius: 10px;
  }
}
