.aside {
  position: relative;

  nav ul {
    z-index: 1;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    width: 94px;
    background-color: var(--color-menu-button);
    border-radius: 6px;

    li {
      color: var(--color-text);
      font-size: 14px;
      cursor: pointer;
      opacity: 0.6;
      
      &.active {
        opacity: 1;
        font-weight: 600;
      }
    }
  }
}

.button {
  width: 30px;
  height: 30px;
  background-color: var(--color-menu-button);
  border: none;
  border-radius: 6px;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    width: 35%;
    height: 32%;
    left: 50%;
    top: 43%;
    transform: translateX(-50%) translateY(-70%) rotateZ(45deg);
    border-right: 1.7px solid #c7c7c7;
    border-bottom: 1.7px solid #c7c7c7;
  }
}

.hideMenu {
  opacity: 0;
  transform: ease 0.2s;
}

.showMenu {
  opacity: 1;
  transform: ease 0.2s;
}

@keyframes show {
  to {

  }

  from {

  }
}