* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin-top: 50px;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-container {
  display: flex;
  flex-direction: column;
  width: 500px;

  input {
    width: 100%;
    height: 50px;
    padding-left: 20px;
    font-size: 30px;
  }

  li {
    border: 1px solid gray;
    font-size: 30px;
    list-style: none;
    border-top: none;
    background: rgb(232, 232, 232);
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
  }
}